:root {
  --color-brand: #2a4a70;
  --color-brand-highlight: #ffe3c0;
  --color-text-primary: #222;
  --color-text-secondary: #444;
  --color-nav-link: #fff;
  --color-nav-link-selected: #b7becd;
  --content-width: 42em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Merriweather, Georgia, Garamond, Times, serif;
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, Verdana, Tahoma, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.page-header {
  width: 100%;
  height: 6em;
  background-color: var(--color-brand);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.main-nav-menu {
  display: block;
  margin: 0 auto;
}

.site-heading-title {
  margin: 0;
}

.site-heading-link {
  padding: .22em .5em;
  color: var(--color-nav-link);
  font: 1em "Playfair Display", Georgia, Garamond, Times, serif;
  font-kerning: normal;
  letter-spacing: .03em;
  text-transform: none;
  text-rendering: geometricPrecision;
}

.nav-menu-link,
.nav-menu-link:visited {
  font: 0.9em Verdana, Tahoma, Helvetica, Arial, sans-serif;
  color: var(--color-nav-link);
  text-transform: uppercase;
  transition: color .15s;
}

.nav-menu-link:hover {
  background-color: transparent;
  color: var(--color-nav-link-selected);
}

.nav-menu-link:active,
.nav-menu-link:focus {
  background-color: transparent;
  color: var(--color-brand-highlight);
  transition: initial;
}

.last-name {
  color: var(--color-brand-highlight);
}

.pure-menu-selected > .nav-menu-link {
  color: var(--color-nav-link-selected) !important;
}

main,
.page-footer {
  margin: 0 auto;
  padding: 1em;
  max-width: var(--content-width);
}

main p,
main ul,
main ol,
main ul {
  line-height: 1.5;
}

.feed-section-title {
  margin-top: 1.5em;
  color: var(--color-brand);
}

.feed-article-link {
  margin-bottom: 1.5em;
}

.feed-article-title,
main ul > li {
  margin-bottom: .5em;
}

.feed-article-title > a {
  color: var(--color-text-primary);
}

.text-blurb {
  margin-top: 0;
  color: var(--color-text-secondary);
}

hr {
  max-width: var(--content-width);
}

.page-footer > p {
  text-align: center;
}

@media screen and (min-width: 48em) {
  .page-header {
    height: 4em;
  }

  .main-nav-menu {
    max-width: 72rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
