:root {
  --color-brand: #2a4a70;
  --color-text-primary: #222;
  --color-nav-link: #fff;
  --color-selected-nav-link: #b7becd;
  --content-width: 60em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page-header {
  width: 100%;
  background-color: var(--color-brand);
}

.main-nav-menu {
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-heading {
  padding: .3em 1em;
  color: var(--color-nav-link);
  font: 2em "Playfair Display", Georgia, Garamond, "Times New Roman", Times, serif;
  font-kerning: normal;
  letter-spacing: .03em;
  text-transform: none;
  text-rendering: geometricPrecision;
}

.nav-menu-link {
  font-size: 0.9rem;
  color: var(--color-nav-link);
  text-transform: uppercase;
}

.pure-menu-selected > .nav-menu-link {
  color: var(--color-selected-nav-link) !important;
}
