.article-link-title {
  font-size: 1.4em;
}

.thumbnail-image {
  display: block;
  width: 162px;
  height: 100px;
}

.thumbnail-image {
  width: 200px;
  height: 124px;
}

.blurb-clamped {
  -webkit-line-clamp: 2;
}

.featured-image {
  margin-bottom: 1em;
}
