main p, 
main ul,
main ol,
main pre {
  font-size: 1.1em;
}

input[type="text"],
input[type="email"] {
  width: 42%;
}

.page-header {
  height: 4em;
}

.main-nav-menu {
  max-width: 72rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.portfolio-section-title {
  margin-top: 1.5em;
}

.article-title {
  margin: .3em auto .5em;
  font-size: 3em;
}

.article-category {
  margin-top: 1.5em;
}

.article-category,
.article-title,
.word-count {
  text-align: center;
}

.featured-image {
  margin-bottom: 1.7em;
}
