<a class="article-link-wrapper" href="{{ include.url }}" {%- if include.new_tab %} target="_blank" {%- endif %}>
  <section class="article-link">
    <div class="article-link-text">
      <p class="article-link-category">{{ include.category }}</p>
      <h3 class="article-link-title">{{ include.title }}</h3>
      <p class="article-link-blurb">{{ include.blurb_shown }}<span class="blurb-extra"> {{ include.blurb_extra }}</span>...</p>
    </div>
    <div class="thumbnail-container">
      <img class="thumbnail-image" width="200" src="/images/{{ include.thumbnail }}" alt="{{ include.thumbnail_alt }}">
    </div>
  </section>
</a>
