{%- assign article_url = include.article.url | remove: ".html" %}
{%- assign article_title = include.article.title %}
{%- assign article_category = include.article.category %}

{%- assign article_blurb = include.article.content | markdownify | strip_html | truncatewords: 40, "" %}

{% comment %} Only get the thumbnail and its alt text if the article specifies an image {% endcomment %}
{%- if include.article.thumbnail %}
  {%- assign article_thumbnail = include.article.thumbnail %}
{%- else %}
  {%- assign article_thumbnail = "" %}
{%- endif %}
{%- if include.article.thumbnail_alt and include.article.thumbnail %}
  {%- assign article_thumbnail_alt = include.article.thumbnail_alt %}
{%- else %}
  {%- assign article_thumbnail_alt = "" %}
{%- endif %}

{%- include article-link.html
  url=article_url
  title=article_title
  category=article_category
  blurb=article_blurb
  thumbnail=article_thumbnail
  thumbnail_alt=article_thumbnail_alt
  is_lazy_loaded=include.is_lazy_loaded
%}
