<a class="article-link-wrapper" href="{{ include.url }}" {%- if include.new_tab %} target="_blank" {%- endif %}>
  <section class="article-link">
    <div class="article-link-text">
      <p class="article-link-category">{{ include.category | smartify }}</p>
      <h3 class="article-link-title">{{ include.title | smartify }}</h3>
      <p class="article-link-blurb {%- if include.no_clamp != true %} blurb-clamped {%- endif %}">{{ include.blurb }}</p>
    </div>
    {% comment %} {%- assign image_file = site.static_files | where_exp: "file", "file.name == include.thumbnail" | first %} {% endcomment %}
    <div class="thumbnail-container">
      <img class="thumbnail-image" {%- if include.is_lazy_loaded %} loading="lazy" {%- endif %} src="/images/{{ include.thumbnail }}" alt="{{ include.thumbnail_alt }}">
      <!--<img class="thumbnail-image" {%- if include.is_lazy_loaded %} loading="lazy" {%- endif %} srcset="/images/bread-boule-sliced-thumbnail.jpg 1x, /images/bread-boule-sliced-thumbnail@2x.jpg 2x" src="/images/bread-boule-sliced-thumbnail.jpg" alt="{{ include.thumbnail_alt }}">-->
    </div>
  </section>
</a>
