---
title: Portfolio
layout: info-page
id: portfolio
---

<p>Enjoy reading a few samples of my written work.</p>

<h2 class="portfolio-section-title">Articles</h2>

{%- assign posts = site.pages | where: "article_type", "post" | sort: "category" %}
{%- for post in posts reversed %}
  {%- if forloop.index > 3 %}
    {%- assign do_lazy_load = true %} {% comment %} Lazy-load only the top n images {% endcomment %}
  {%- else %}
    {%- assign do_lazy_load = false %}
  {%- endif %}

  {% include article-link-logic.html article=post is_lazy_loaded=do_lazy_load %}
{%- endfor %}

<h2 class="portfolio-section-title">Company Stories</h2>

{%- assign company_stories = site.pages | where: "article_type", "company_story" | sort: "category" %}
{%- for story in company_stories %}
  {% include article-link-logic.html article=story is_lazy_loaded=true %}
{%- endfor %}

<h2 class="portfolio-section-title">Product Descriptions</h2>

{%- assign product_descriptions = site.pages | where: "article_type", "product_description" | sort: "category" %}
{%- for description in product_descriptions %}
  {% include article-link-logic.html article=description is_lazy_loaded=true %}
{%- endfor %}

<h2 class="portfolio-section-title">Technical Writing</h2>

{% include article-link.html
  url="supressor-manual.pdf"
  title="Lifetime Silencers User’s Manual (PDF)"
  category="user’s manual"
  blurb="A trifold pamphlet included with every purchase of a suppressor. Designed, researched, and written by me."
  thumbnail="lifetime-silencers-logo.png"
  thumbnail_alt="Lifetime Silencers logo"
  new_tab=true
  no_clamp=true
  is_lazy_loaded=true
%}

<h2 class="portfolio-section-title">Fiction</h2>

{% include article-link.html
  url="Linked_Joseph-Borjon.pdf"
  title="Linked (PDF)"
  category="screenplay"
  blurb="A help-averse woman suddenly develops permanent, invisible weighted gym chains around her shoulders, and they refuse to come off despite her darndest efforts."
  thumbnail="screenplay-screenshot.png"
  thumbnail_alt="A portion of a screenplay title page"
  new_tab=true
  no_clamp=true
  is_lazy_loaded=true
%}
