---
title: Portfolio
layout: info-page
id: portfolio
---

<p>Enjoy reading a few samples of my written work.</p>

<h2 class="portfolio-section-title">Articles</h2>

{%- assign posts = site.pages | where: "article_type", "post" | sort: "category" %}
{%- for post in posts reversed %}
  {%- if forloop.index > 3 %}
    {%- assign do_lazy_load = true %} {% comment %} Lazy-load only the top n images {% endcomment %}
  {%- else %}
    {%- assign do_lazy_load = false %}
  {%- endif %}

  {% include article-link-logic.html article=post is_lazy_loaded=do_lazy_load %}
{%- endfor %}

<h2 class="portfolio-section-title">Company Stories</h2>

{%- assign company_stories = site.pages | where: "article_type", "company_story" | sort: "category" %}
{%- for story in company_stories %}
  {% include article-link-logic.html article=story is_lazy_loaded=true %}
{%- endfor %}

<h2 class="portfolio-section-title">Product Descriptions</h2>

{%- assign product_descriptions = site.pages | where: "article_type", "product_description" | sort: "category" %}
{%- for description in product_descriptions %}
  {% include article-link-logic.html article=description is_lazy_loaded=true %}
{%- endfor %}

<h2 class="portfolio-section-title">Technical Writing</h2>

{%- assign technical_pieces = site.data.portfolio_files | where: "article_type", "technical_file" %}
{%- for piece in technical_pieces %}
  {% include article-link-logic.html article=piece is_lazy_loaded=true %}
{%- endfor %}

<h2 class="portfolio-section-title">Fiction</h2>

{%- assign fiction_pieces = site.data.portfolio_files | where: "article_type", "fiction_file" %}
{%- for tale in fiction_pieces %}
  {% include article-link-logic.html article=tale is_lazy_loaded=true %}
{%- endfor %}
