---
title: Portfolio
layout: info-page
id: portfolio
---

<p>Enjoy reading a few samples of my written work.</p>

<h2 class="portfolio-section-title">Articles</h2>

{%- assign posts = site.pages | where: "article_type", "post" | sort: "category" | reverse %}
{%- for post in posts %}
  {% include article-link-logic.html article=post %}
{%- endfor %}

<h2 class="portfolio-section-title">Company Stories</h2>

{%- assign company_stories = site.pages | where: "article_type", "company_story" | sort: "category" %}
{%- for story in company_stories %}
  {% include article-link-logic.html article=story %}
{%- endfor %}

<h2 class="portfolio-section-title">Product Descriptions</h2>

{%- assign product_descriptions = site.pages | where: "article_type", "product_description" | sort: "category" %}
{%- for description in product_descriptions %}
  {% include article-link-logic.html article=description %}
{%- endfor %}

<h2 class="portfolio-section-title">Technical Writing</h2>

{% include article-link.html
  url="supressor-manual.pdf"
  title="Lifetime Silencers User’s Manual (PDF)"
  category="user’s manual"
  blurb="A trifold pamphlet included with every purchase of a suppressor. Designed, researched, and written by me."
  thumbnail="lifetime-silencers-logo.png"
  thumbnail_alt="Lifetime Silencers logo"
  new_tab=true
%}

<h2 class="portfolio-section-title">Fiction</h2>

{% include article-link.html
  url="Linked_Joseph-Borjon.pdf"
  title="Linked (PDF)"
  category="screenplay"
  blurb="A help-averse woman suddenly develops invisible — and, to everyone else, imperceptible — weighted gym chains around her shoulders, and they refuse to come off her despite her darndest efforts."
  thumbnail="screenplay-screenshot.png"
  thumbnail_alt="A portion of a screenplay title page"
  new_tab=true
%}
