---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Joseph Borjon">
    {%- if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif -%}
    {%- if page.layout == "article" %}
    <meta name="robots" content="noindex, nofollow">
    {% endif -%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2a4a70">

    {% assign occupation = "Copywriter and Content Writer" -%}
  
    {% if page.id == "home" -%}
    <meta http-equiv="refresh" content="0; URL=/portfolio/">
    <title>{{ site.name }}, {{ occupation }}</title>
    {% elsif page.layout == "article" %}
    <title>{{ page.title }} — {{ site.name }}</title>
    {%- else %}
    <title>{{ page.title }} — {{ site.name }}, {{ occupation }}</title>
    {% endif %}

    {%- if page.id == "home" %}
    <link rel="canonical" href="{{ site.url }}">
    {% endif -%}

    <link rel="icon" sizes="32x32" href="/favicons/favicon-32.png">
    <link rel="icon" sizes="128x128" href="/favicons/favicon-128.png">
    <link rel="icon" sizes="192x192" href="/favicons/favicon-192.png">
    <link rel="icon" sizes="196x196" href="/favicons/favicon-196.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/favicons/favicon-167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180.png">
  
    <link rel="preload" href="https://fonts.gstatic.com/s/playfairdisplay/v22/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/merriweather/v22/u-440qyriQwlOrhSvowK_l5-fCZM.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/merriweather/v22/u-4m0qyriQwlOrhSvowK_l5-eRZOf-I.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/screen-xsm.css" media="screen and (min-width: 29em)">
    <link rel="stylesheet" href="/style/screen-sm.css" media="screen and (min-width: 35.5em)">
    <link rel="stylesheet" href="/style/screen-md.css" media="screen and (min-width: 48em)">
    {%- if page.layout == "article" %}
    <link rel="stylesheet" href="/style/code-highlight.css">
    {% endif -%}

    <script defer src="/scripts/copy-year.min.js"></script>
    {%- if page.id == "contact" %}
    <script defer src="/scripts/decode.min.js"></script>
    <script defer src="https://kwes.io/v2/kwes-script.js"></script>
    {%- endif %}
  </head>

  <body>
    <header class="page-header">
      <nav class="pure-menu pure-menu-horizontal main-nav-menu">
        <h1 class="site-heading-title"><a class="pure-menu-heading site-heading-link" href="/">Joseph <span class="last-name">Borjon</span></a></h1>
        <ul class="pure-menu-list">
          <li class="pure-menu-item {%- if page.id == 'about' %} pure-menu-selected {%- endif %}"><a href="/about" class="pure-menu-link nav-menu-link">About</a></li>
          <li class="pure-menu-item {%- if page.id == 'portfolio' %} pure-menu-selected {%- endif %}"><a href="/portfolio/" class="pure-menu-link nav-menu-link">Portfolio</a></li>
          <li class="pure-menu-item {%- if page.id == 'contact' %} pure-menu-selected {%- endif %}"><a href="/contact" class="pure-menu-link nav-menu-link">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main {%- if page.id != "home" %} class="main-content-wrapper" {%- endif %}>
      {{ content }}
    </main>

    <footer class="page-footer">
      <p>© <span id="copyright-year"></span> Joseph Borjon</p>
      <p><a href="/contact">Contact me</a></p>
    </footer>
  </body>
</html>
